* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
} 

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background-color: rgb(220,220,220);
    padding: 10px 2% 20px 2%;
}

.logo-1 {
    float: left;
    margin-top: 10px;
    width: 150px;
    height: 60px;
    background-image: url(../projeto_02/logo1.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-2 {
    float: right;
    width: 160px;
    height: 60px;
    background-image: url(../projeto_02/logo2.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-form {
    width: 100%;
}

.bg {
    position: relative;
    height: 560px;
    background-size: cover;
    background-position: center;
    background-image: url(../projeto_02/bg-form.jpg);
}

.form-container {
    position: absolute;
    right: 30px;
    top: -2.5%;
    box-shadow: 2px 2px 2px 1px rgb(180,180,180);
    width: 400px;
    height: 105%;
    background-color: white;
}

.form-container h2 {
    font-weight: normal;
    font-size: 18px;
    color: black;
    padding: 25px 15px;
    background-color: rgb(210,210,210);
}

.form-container form {
    margin-top: 20px;
    padding: 15px;
}

.form-container form p {
    font-size: 13px;
    color: #525252;
}

.form-wraper:not(:first-child) {
    margin-top: 40px;
}

.form-wraper:last-child {
    margin-top: 20px;
}

.form-container form input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form input[type=submit] {
    background-color: #033C50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 17px;
    height: 50px;
    cursor: pointer;
    border: none;
}

.chamada {
    z-index: 0;
    width: 100%;
    text-align: center;
}

.arrow {
    width: 64px;
    height: 64px;
    z-index: 3;
    background-image: url(../projeto_02/arrow.png);
    background-size: 100% 100%;
    position: relative;
    top: -183px;
    left: 50%;
    margin-left: -20px;
}

.chamada .container {
    padding: 70px 0 50px 0;
    background-color: #26506f;
}

.chamada h2 {
    text-transform: uppercase;
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 35px;
    font-weight: normal;
}

.chamada p {
    width: 98%;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    font-weight: normal;
}

.flex-mosaico {
    display: flex;
    margin-top: 5px;
}

.item-1-mosaico {
    background-size: cover;
    background-position: center;
    width: 60%;
}

.item-2-mosaico {
    background-color: #e1f4ff;
    color: black;
    padding: 60px 40px;
    width: 40%;
}

footer .container {
    text-align: center;
    padding: 40px 0;
    background-color: rgb(220,220,220);
}

footer p {
    margin-top: 8px;
}

footer img {
    width: 150px;
    margin-top: 30px;
}

@media screen and (max-width: 960px) {

    .bg {
        height: auto;
        padding: 40px 0;
        text-align: center;
    } 

    .form-container {
        height: auto;
        width: 96%;
        max-width: 400px;
        display: inline-block;
        position: static;
    }
}

@media screen and (max-width:768px) {
    .flex-mosaico {
        display: block;
    }

    .item-1-mosaico {
        padding-top: 50%;
        width: 100%;
    }

    .item-2-mosaico {
        text-align: justify;
        width: 100%;
    }
}

@media screen and (max-width: 510px) {
    header {
        text-align: center;
    }

    .logo-1, .logo-2 {
        right: 0;
        text-align: center;
        margin-top: 10px;
        display: inline-block;
        float: none;
    }
}
